.chat-container{
  width: 376px;
  border-width: 0px!important;
}

.chatroom {
  width: 100%;
  height: 580px;
  color: #343d4e;
  max-height: 90vh;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  letter-spacing: normal;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 3px 14px 0px rgb(0 24 46 / 10%);
}

.chatroom,
.chatroom * {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.chatroom.closed {
  height: 40px
}

.chatroom h3 {
  background-image: linear-gradient(
    225deg
    , rgb(35, 165, 165) 35%, rgb(5, 149, 189) 100%);
  color: #fff;
  margin: 0;
  height: 68px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chatroom .chats {
  box-sizing: border-box;
  padding: 20px 36px;
  margin: 0;
  height: 454px;
  overflow-y: scroll;
  background-color: #fff;
  -webkit-overflow-scrolling: touch
}

.chatroom .chats .chat {
  background-color: #eaf0f6;
  position: relative;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 8px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0 0;
  max-width: 90%;
  color: #425b76;
}

.chatroom .chats .chat img {
  max-width: 100%;
  vertical-align: middle
}

.chatroom .chats .chat.left {
  border-bottom-left-radius: 0
}

.chatroom .chats .chat.left::before{
  content: '';
  visibility: visible;
  background-image: url('../imgs/Bot-Icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 26px;
  width: 26px;
  position: absolute;
  top: -16px;
  left: -28px;  
  /* box-shadow: 0px 2px 3px 0px #715e8b28; */
}

.chatroom .chats .chat.right {
  float: right;
  clear: both;
  border-top-right-radius: 0
}

.chatroom .chats .chat.right::before{
  content: '';
  visibility: visible;
  background-image: url('https://www.flaticon.com/svg/static/icons/svg/667/667378.svg');;
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  top: -16px;
  right: -32px;
  border: 2px solid #ffffff;
  border-radius: 14px;
  /* box-shadow: 0px 2px 3px 0px #715e8b28; */
}

.chatroom .chats .chat .text {
  word-wrap: break-word
}

.chatroom .chats .chat.chat-img {
  padding: 5px
}

.chatroom .chats .chat a {
  text-decoration: none;
  color: #3498db
}

.chatroom .chats .chat ol,
.chatroom .chats .chat ul {
  margin: 0;
  padding-left: 1.5em
}

.chatroom .chats .chat ol li,
.chatroom .chats .chat ul li {
  padding-left: 0
}

.chatroom .chats .chat.waiting {
  margin: 10px 0;
  background: transparent;
  padding: 0
}

@keyframes fade {
  0% {
    opacity: 1
  }

  to {
    opacity: .3
  }
}

.chatroom .chats .chat.waiting span {
  font-size: 1em;
  animation-name: fade;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out
}

.chatroom .chats .chat.waiting span:first-child {
  animation-delay: 0s
}

.chatroom .chats .chat.waiting span:nth-child(2) {
  animation-delay: .4s
}

.chatroom .chats .chat.waiting span:nth-child(3) {
  animation-delay: .8s
}

.chatroom .chats .time {
  list-style: none;
  clear: both;
  height: 10px;
  font-size: 10px;
  color: #9ba8c0;
  margin: 5px 0 20px
}

.chatroom .chats .time.left {
  float: left
}

.chatroom .chats .time.right {
  float: right
}

.chatroom .chats .chat-buttons {
  position: relative;
  padding: 0;
  font-size: 16px;
  list-style: none;
  clear: both;
  margin: 10px 0;
  text-align: center
}

.chatroom .chats .chat-buttons .chat-button {
  display: inline-block;
  transition: all .3s ease;
  cursor: pointer;
  margin: 3px;
  background-color: #343d4e;
  color: #fff;
  border: none;
  padding: 5px 10px;
  letter-spacing: normal;
  border-radius: 8px
}

.chatroom .chats .chat-buttons .chat-button.chat-button-selected,
.chatroom .chats .chat-buttons .chat-button:hover {
  background-color: rgba(52, 61, 78, .6);
  color: #fff
}

.chatroom .chats .chat-buttons .chat-button.chat-button-disabled {
  color: grey;
  border: none;
}

.chatroom .input {
  background-color: #f1f5f9;
  height: 58px;
  width: 100%;
  margin: 0;
  padding: 0 5px;
  border-top: 2px solid #e1e7ed;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center
}

.chatroom .input input[type=text] {
  font-size: 15px;
  line-height: 22px;
  min-height: 40px;
  max-height: 100px;
  overflow: hidden auto;
  padding: 8px;
  background-color: #f1f5f9;
  outline: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #425b76;
  flex: 4;
  box-sizing: border-box;
  border-width: 0px;
}

.chatroom .input input[type=text]::placeholder {
  color: rgb(176, 193, 212);
  opacity: 1;
}

.chatroom .input input[type=submit] {
  display: inline-block;
  background: #343d4e;
  border: 1px solid #fff;
  color: #fff;
  height: 42px;
  min-width: 70px;
  line-height: 1;
  text-align: center;
  padding: 0;
  font-size: 12px;
  flex: 1;
  box-shadow: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all .3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  font-weight: 600;
  text-transform: uppercase
}

.chatroom .input input[type=submit]:hover {
  background: #536079;
}

.chatroom #speech-input {
  display: none;
  /* height: 0px;
  width: 0px;
  margin-left: 5px;
  background: #343d4e;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s ease */
}

.chatroom #speech-input:hover {
  background: hsla(0, 0%, 100%, .8)
}

.chatroom .vertical-center {
  vertical-align: middle
}