html{
  height: 100%;
  scroll-behavior: smooth;
}
body{
  height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
  overflow: auto;
}
video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}
.bg-darker{
  background-color: #21252A;
}
/*========================== Header ==========================*/
nav.navbar{
  min-height: 70px;
}

/*========================== Docs Section ==========================*/
.list-group-item{
  transition: all .3s linear;
}
.list-group-item.active {
  z-index: 2;
  font-weight: 600;
  color: #003E6A;
  background-color: #E9ECEF;
  border-color: #E9ECEF;
}
#scrollList{
  top: 150px;
}

.doc-section{
  padding-top: 9rem;
  margin-top: -5rem;  
}
#docs-writeup h2{
  margin-bottom: 1.5rem;
}
#docs-writeup p{
  line-height: 1.7;
  color: #323941;
  font-size: 1.05rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
.text-highlight {
  color: #222222;
  -webkit-box-decoration-break: clone;
  background: -webkit-gradient(linear,left top,right top,from(rgba(87, 206, 254, 0.221)),to(rgba(87, 112, 255, 0.221)));
  background: linear-gradient(to right,rgba(116, 119, 121, 0.22),rgba(148, 162, 255, 0.486));
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 3px;
  border-radius: 3px;
}
.text-italic{
  color: rgb(68, 68, 68);
  font-weight: 600;
}
.feature-list{
  font-size: 1.02rem;
  line-height: 1.6;
}
.linking{
  transition: color .4s linear;
  position: relative;
  bottom: 3px;
  color: rgb(165, 165, 165);
}
.markdown{
  color: #2a2330;
  border-radius: .25rem;
  background-color: #ebe9e9;
  font-family: monospace;
}

/**********************************************************/
/* CODE-BOX  */
/**********************************************************/
.scroll-style::-webkit-scrollbar-track{
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255,0);
}
.scroll-style::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.scroll-style::-webkit-scrollbar-thumb{   
    background-color: #888;
}
.scrollbar{
    overflow-x: scroll;
}
/* Clip Board Button */
.code-container{
    position: relative;
	max-width: 850px;
}
.btn-copy{
    background-color: #444;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    padding: 5px;
    font-size: 12px;
    transition: all 0.3s linear;
    color: rgb(168, 168, 168);
    z-index: 100;
    border-radius: 5px;
}
.btn-copy:hover{
  color: #fff;
}

/*========================== Responsive Media Queries ==========================*/
@media only screen and (max-width: 678px) {
  
  a.navbar-brand{
    line-height: inherit;
    white-space: nowrap;
    margin-bottom: .8rem;
    margin-top: .8rem;
  }
  .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    padding-bottom: 2rem;
    overflow: hidden;
  }
  ul.navbar-nav{
    padding-bottom: 1rem;
  }
}